@import "bootstrap";
@import "bootstrap-social";

body {
	@extend .fill;
	padding-top: 70px;
}
html {
	@extend .fill-html;
}
.fill-html {
	height: calc(100% - 20px);
	min-height: calc(100% - 20px);
}
.fill {
	height: 100%;
	min-height: 100%;
}
.ig-name {
	vertical-align: middle;
	text-align: left;
}
.caption {
	text-align: left;
}
.comment {
	text-align: left;
}